In [66]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [67]:
data = pd.read_csv ('inputs\covid19_fullgrouped.csv')
data.head (10)

,Date,Country,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa
5,2020-01-22,Antigua and Barbuda,0,0,0,0,0,0,0,Americas
6,2020-01-22,Argentina,0,0,0,0,0,0,0,Americas
7,2020-01-22,Armenia,0,0,0,0,0,0,0,Europe
8,2020-01-22,Australia,0,0,0,0,0,0,0,Western Pacific
9,2020-01-22,Austria,0,0,0,0,0,0,0,Europe

In [68]:
data ['Date'] = pd.to_datetime (data['Date'])
data ['Month'] = data['Date'].map (lambda date : date.month)
data.head (10)

,Date,Country,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Month
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean,1
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe,1
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa,1
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe,1
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa,1
5,2020-01-22,Antigua and Barbuda,0,0,0,0,0,0,0,Americas,1
6,2020-01-22,Argentina,0,0,0,0,0,0,0,Americas,1
7,2020-01-22,Armenia,0,0,0,0,0,0,0,Europe,1
8,2020-01-22,Australia,0,0,0,0,0,0,0,Western Pacific,1
9,2020-01-22,Austria,0,0,0,0,0,0,0,Europe,1

Fourth Month Corona Patients

In [75]:
fourth = data.query ('Month == 4')
month = fourth.groupby ('Country')['Active'].max().reset_index()
sorted = month.sort_values ('Active' , ascending = False).reset_index(drop = True)
sorted.head (8)
plt.table ()

          Country  Active
0              US  860358
1  United Kingdom  151053
2           Italy  108257
3           Spain  101617
4          France   98504
5          Russia   93806
6          Turkey   80808
7         Germany   72864

Death Rate In Iran

In [ ]:
iran = data.groupby ('Countr')